{% extends 'admin/layout.html.twig' %}

{% block title %}Bonjour {{app.user.username}} !{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue dans l'espace d'administration ! ✅</h1>

    Ce charmant message provient :
    <ul>
        <li>Du Controller à l'emplacement suivant : <code><a href="{{ 'C:/wamp64/www/Symfony-L3/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Du Template à l'emplacement ci-contre : <code><a href="{{ 'C:/wamp64/www/Symfony-L3/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
