{% extends 'public/layout.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block body %}
<div class="section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color"></span>Contactez-nous</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ include('contact/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
