{% extends 'admin/layout.html.twig' %}

{% block title %}Modifier article{% endblock %}

{% block body %}
    <h1>Modifier article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">Retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
